<section class="bg-title-img-txt bg-yellow-light-0 relative md:pt-[10.25rem] md:pb-[17.375rem]">
  <picture class="hidden md:block bg absolute bg-yellow-light-0 left-[50%] top-[-91%] max-w-[79.625rem] w-full">
    <img class="w-full " src="/assets/images/Illustration.png" alt="">
  </picture>
  <div class="md:o-container-small relative">
      <div  class="flex flex-col md:flex-row items-stretch">
        <div class="md:max-w-[43.438rem] w-full mb-30 md:my-auto">
          <picture>
            <img class="gs_reveal gs_reveal_fromSideLeft opacity-0 w-full md:max-h-[34.5rem]  h-full" src="/assets/images/Riley_Amenities_RoofDeck_F_01_12.31.21.png" alt="">
          </picture>
        </div>
        <div class="text-dark-0 flex  px-40 md:pr-0 flex-col items-center justify-center md:pl-81 md:py-64 w-full md:max-w-[32.875rem] gs_reveal_fromSideRight gs_reveal opacity-0">
          <h2 class="mb-32 font-FiraSansCondensed text-44 md:text-54 font-medium leading-40 md:leading-60">Nestled in thriving
            Richfield, MN</h2>

          <p class="mb-10 md:mb-40 font-Overpass-Regular font-normal  text-14 md:text-20 leading-25 md:leading-31">Just blocks from I-35W and the Metro Transit bus line, Riley puts you minutes from the Twin Cities’ best shopping, dining and entertainment at any time.</p>
          <p class="font-Overpass-Regular font-normal  text-14 md:text-20 leading-25 md:leading-31">Chia crucifix vaporware drinking vinegar letterpress, cloud bread kickstarter taxidermy bespoke asymmetrical artisan. Chambray affogato neutra.</p>
        </div>
      </div>
  </div>
</section>
