<header>
    <div class="grid md:grid-cols-2">
      <div class="bg-dark-0 flex justify-center md:justify-start items-center md:pl-[7.375rem] py-40 md:py-0">
        <a href="/">
          <picture>
            <img src="/assets/images/logo.png" class="max-w-[242px] md:max-w-[25.875rem]" alt="">
          </picture>
        </a>
      </div>
      <div class=" hidden md:flex items-center justify-center bg-yellow-0 md:pl-[7.625rem]  md:pr-[7.75rem]">
        <a href="/"  class="flex  group text-white items-center uppercase py-59  text-26 font-bold tracking-[0.25rem] leading-40  font-Overpass-Bold">
          <span class="inline-block mr-55"> Now Leasing!   612-509-5343</span>
          {% include '/_partials/icons/arrow-r' %}
        </a>
      </div>
    </div>
</header>
