<section class="txt-img-title relative z-1">
  <div class="flex flex-col-reverse md:flex-row items-stretch">
    <div class="md:max-w-[74.188rem]  py-56 px-42 md:pr-0 w-full bg-dark-0  text-white flex md:pb-[13.563rem] md:pt-[13.875rem] md:pl-[7.375rem]">
      <div class="gs_reveal_fromSideLeft gs_reveal opacity-0 mt-auto md:max-w-[36.688rem]">
        <h2 class="mb-12 md:mb-29  text-12 md:text-20 font-Overpass-Bold  tracking-[0.094rem] md:tracking-[0.156rem] leading-18 md:leading-30 uppercase">Welcome to Riley</h2>
        <h1 class="text-50 md:text-86  font-medium leading-58 md:leading-87 font-FiraSansCondensed mb-15 md:mb-25">Smart living,
          stylish comfort.</h1>
        <p  class="font-Overpass-Regular  text-13 md:text-20 leading-21 md:leading-31  font-normal max-w-[28rem]">
          Open April 2022 — at home, everything has been designed to make everyday living easier—and more sustainable.
        </p>
      </div>
    </div>
    <div class="flex py-30 md:hidden items-center justify-center bg-yellow-0 px-42">
      <a href="/"  class="group flex text-white items-center uppercase text-14 font-bold tracking-[0.25rem] leading-24  font-Overpass-Bold">
        <span class="inline-block mr-13"> Now Leasing!   612-509-5343</span>

        {% include '/_partials/icons/arrow-r' %}
      </a>
    </div>
    <div class="md:max-w-[58.813rem] w-full md:absolute md:right-0">
      <picture>
        <img class="w-full gs_reveal_fromSideRight gs_reveal opacity-0" src="/assets/images/Riley_Units_1BR_F_01_12.31.2021.png" alt="">
      </picture>
    </div>

  </div>
</section>
