<!DOCTYPE html>
<html class="is-loading" lang="{{currentSite.language}}">
  {% include "_layouts/includes/main-head" %}
  <body>
    {% include "_includes/globals/site-header" %}

    <div class="site-container  overflow-x-hidden overflow-y-scroll">
      <animation-dom class="js-custom-el block"  data-js-module="animation-dom">
        <main id="main" class="site-content min-h-screen" role="main">
          {% block content %}

          {% endblock %}
        </main>
      </animation-dom>
    </div>

    {% include "_includes/globals/footer" %}
    {% include "_layouts/includes/body-end" %}
    {% block inlineJS %}{% endblock %}
  </body>
</html>
